.banner-logo img{
    margin-top: 20px;
    width: 980px;
    height: 250px;
    border-radius: 25px;
    cursor: pointer;
}



.carousel-image {
    /* max-height: 300px; 
    width: auto;      
    object-fit: cover;  */
    margin-top: 20px;
    width: 180px;
    height: 250px;
    border-radius: 25px;
    cursor: pointer;
  }




