.login-form{
    border: solid 2px green;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

.login-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.login-content input{
    border-radius: 20px;
    border: green 1px solid;

}

.login-btn{
    background-color: green;
    border-radius: 30px;
    color: white;
    border: solid 2px black;
}

.error {
    color: red;
    margin-top: 10px;
  }
  